@import '/styles/header.css';
@import '/styles/about.css';

:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}